<img src="upload.png">

In [1]:
import pandas as pd
from src.Navigator import Navigator
from src.EventReader import EventReader
from src.SQLIO import SQLIO
from src.EventWriter import EventWriter

/Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

In [2]:
url = "https://marvin.uni-marburg.de:443/qisserver/pages/startFlow.xhtml?_flowId=detailView-flow&unitId=10583&periodId=76"

In [3]:
n = Navigator(True)
n.get(url)
e = EventReader(n)
res = e.read()

In [4]:
# w = EventWriter()
# w.write(res)

In [5]:
res.get('grunddaten')

{'Titel': 'Objektorientierte Programmierung',
 'Langtext': 'Objektorientierte Programmierung',
 'Nummer': 'LV-12-079-094',
 'Organisationseinheit': 'Fb12 Mathematik und Informatik (Verantwortlicher)',
 'Veranstaltungsart': 'Vorlesung',
 'Angebotshäufigkeit': 'Unregelmäßig',
 'Semesterwochenstunden': '4.0'}

In [6]:
res.get('termine')[0]

{'Semesterwochenstunden': '4.0',
 'Verantwortliche/-r': 'Prof. Dr. Christoph-Matthias Bockisch'}

In [7]:
res.get('termine')[1]

,Rhythmus,Wochentag,Von - Bis,Ausfalltermin,Startdatum - Enddatum,Erw. Tn.,Bemerkung,Durchführende/-r,Raum
0,wöchentlich,Mo,12:00 - 14:00 c.t.,,15.10.2018 - 11.02.2019,Erw. Tn.,,,"+1/0020 (+1/0020) (Biegenstrasse 14, Hörsaalge..."
1,Einzeltermin,Mi,12:15 - 14:00 c.t.,,17.10.2018,Erw. Tn.,,,"+2/0010 (Audimax) (Biegenstrasse 14, Hörsaalge..."
2,wöchentlich,Mi,12:00 - 14:00 c.t.,,24.10.2018 - 23.01.2019,Erw. Tn.,,,"00/0030 (00/0030) (Biegenstrasse 14, Hörsaalge..."
3,wöchentlich,Mi,12:00 - 14:00 c.t.,,30.01.2019 - 13.02.2019,Erw. Tn.,,,"00/0020 (00/0020) (Biegenstrasse 14, Hörsaalge..."
4,Einzeltermin,Mi,16:00 - 19:00 c.t.,,13.02.2019,Erw. Tn.,Abschlussklausur!,,"+1/0020 (+1/0020) (Biegenstrasse 14, Hörsaalge..."
5,Einzeltermin,Mo,12:00 - 15:00 c.t.,,18.03.2019,Erw. Tn.,Nachholklausur!,,"+5/0030 (HS A) (Hans-Meerwein-Strasse 8, Hörsa..."

In [8]:
res.get('module')

,Modulnummer,Modulname (Kurztext),Modulname,Angebotshäufigkeit
0,120791100,CS 110,CS 110 - Praktische Informatik I: Programmierung,nur im Wintersemester
1,128220030,CS110,Objektorientierte Programmierung,
2,12820110,CS 110,Praktische Informatik I - Einführung in die P...,nur im Wintersemester

In [9]:
sql_io = SQLIO()

sql_io.commit()

In [10]:
sql_io = SQLIO()

In [11]:
df = res.get('termine')[1]
grunddaten = res.get('grunddaten')
termindaten = res.get('termine')[0]
sql_io = SQLIO()
veranstaltungsid = sql_io.select('veranstaltungen', 'veranstaltungsID', "titel = '{}';".format(grunddaten.get('Titel')))[0][0]

for header in grunddaten:
    df[header] = grunddaten[header]
    
for header in termindaten:
    df[header] = termindaten[header]
    
df['Von'] = df['Von - Bis'].str.extract('([0-9]{2}:[0-9]{2})',expand = True)
df['Bis'] = df['Von - Bis'].str.extract('.+([0-9]{2}:[0-9]{2})',expand = True)
df['Startdatum'] = df['Startdatum - Enddatum'].str.extract('([0-9]{2}.[0-9]{2}.[0-9]{4})',expand = True)
df['Enddatum'] = df['Startdatum - Enddatum'].str.extract('.+([0-9]{2}.[0-9]{2}.[0-9]{4})',expand = True)

df = df.drop('Startdatum - Enddatum', axis = 1)
df = df.drop('Von - Bis', axis = 1)
df.columns = df.columns.map(lambda x: x.replace('\n',''))
df.columns = df.columns.map(lambda x: x.replace('.',''))
sql_io = SQLIO()

veranstaltungen_sql_headers = ['VeranstaltungsID','Titel','Verantwortlicher','Durchführender','Wochentag',
                               'Von','Bis','Raum','Startdatum','Enddatum','Langtext','Nummer','Organisationseinheit',
                               'Veranstaltungsart','Angebotshäufigkeit','Semesterwochenstunden','Rhythmus',
                               'Ausfalltermin','Bemerkung']
for i in df.index:
    row = df.loc[i]
    values = [
        veranstaltungsid,
        row['Titel'],
        row['Verantwortliche/-r'],
        row['Durchführende/-r'],
        row['Wochentag'],
        row['Von'],
        row['Bis'],
        row['Raum'],
        row['Startdatum'],
        row['Enddatum'],
        row['Langtext'],
        row['Nummer'],
        row['Organisationseinheit'],
        row['Veranstaltungsart'],
        row['Angebotshäufigkeit'],
        row['Semesterwochenstunden'],
        row['Rhythmus'],
        row['Ausfalltermin'],
        row['Bemerkung']
    ]
    sql_io.insert_with_id('termine', values, veranstaltungen_sql_headers)
sql_io.commit()

DataError: invalid input syntax for integer: "Objektorientierte Programmierung"
LINE 1: Insert into termine values(1,'Objektorientierte Programmieru...
                                     ^